:root {
    --dark: #000;
    --light: #fff;
}

body {
    height: 100%;
    background-color: var(--dark);
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.border-right, .border-top {
    border-color: rgba(256, 256, 256, .2) !important;
}

section {
    min-height: 100vh;
}

#close {
    display: none;
}

#menu-content {
    opacity: 0;
    transition: all .5s ease-in-out;
}

#open-menu {
    transition: all 1s ease-in-out;
}

#close-menu {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.title {
    bottom: 2rem;
    left: 2rem;
}

.bg-image-1 {
    background-image: url(../images/brand1.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: initial;
}

.bg-image-2 {
    background-image: url(../images/brand2.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: initial;
}

.bg-image-3 {
    background-image: url(../images/brand3.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: initial;
}

.z-index-menu {
    z-index: 1000;
}

#content {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

#menu-overlay {
    height: 100vh;
    top: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
}

@media(max-width: 1200px) {
    .hero {
        padding: 0 1rem;
    }
}

@media(max-width: 992px) {
    .bg-image-1, .bg-image-2, .bg-image-3 {
        background-position: center;
    }
    .menu {
        min-height: 80px;
    }
    footer {
        text-align: center;
    }
    footer .text-right {
        text-align: unset !important;
    }
}

@media(max-width: 576px) {
    .display-3, .display-4 {
        font-size: 2rem;
    }
    .border-right {
        border-right: 0 !important;
    }
}